main {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.form form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.form form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.5rem;
}

main section.form form div label {
  color: #F19C6D;
  font-weight: bold;
  font-size: 1.25rem;
}

main section.form form div input {
  background-color: #F19C6D;
  opacity: 60%;
  width: 60%;
  border: none;
  height: 100%;
}

main section.form form div textarea {
  background-color: #F19C6D;
  opacity: 60%;
  width: 60%;
  border: none;
  vertical-align: top;
}

main section.form form button.btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  padding: 1rem;
  background-color: #F19C6D;
  border: #F19C6D solid 2px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

main section.form form button.btn:hover {
  background-color: white;
  color: #F19C6D;
}

main section.contact {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 2px solid black;
}

main section.contact h3 {
  padding: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 700px) {
  main section.form {
    width: 100%;
    height: 100vh;
  }
  main section.form form {
    width: 90%;
  }
  main section.form form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main section.form form div input {
    width: 100%;
    height: 1.5rem;
  }
  main section.form form div textarea {
    width: 100%;
  }
  main section.contact {
    border-left: none;
  }
}
/*# sourceMappingURL=contact-style.css.map */