* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

img.orangeBack {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -10;
}

nav {
  width: 100%;
  padding: 0 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav div.mobileNav {
  display: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  padding: 1rem;
  font-size: 1.25rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav ul li a.active {
  color: #F19C6D;
}

nav ul li a:hover {
  color: #F19C6D;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  height: calc(100vh - 11vw);
}

main section.selfIntro {
  padding: 0 2rem;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.selfIntro section {
  padding: 1rem 2rem;
}

main section.selfIntro section h1 {
  color: #F19C6D;
  font-size: 3rem;
  padding: 1rem 0;
}

main section.selfIntro section p {
  font-size: 1.25rem;
  padding: 1rem 0;
}

main section.backDesign {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.backDesign img.selfie {
  margin-left: 10vw;
  width: 15vw;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
  right: 15vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section.backDesign div.text {
  width: 30%;
  padding: 1rem;
  background-color: aqua;
  position: absolute;
  top: 80vh;
  right: 10vw;
  z-index: 50;
}

main section.backDesign div.backBlock {
  width: 20%;
  height: 3rem;
  background: #1E9BA3;
  position: absolute;
  top: 85vh;
  right: 7vw;
}

footer {
  padding: 0 1.5rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  list-style-type: none;
}

footer ul li {
  padding: 1rem;
}

footer ul li a img {
  width: 4vw;
}

@media screen and (max-width: 700px) {
  nav {
    padding: 0;
    position: fixed;
    top: 0;
  }
  nav div.mobileNav {
    display: block;
  }
  nav ul {
    display: none;
    width: 100%;
    background-color: white;
  }
  nav ul li {
    width: 100%;
  }
  main {
    height: auto;
  }
  main section.backDesign {
    width: 100%;
    height: 100vh;
  }
  main section.backDesign img.selfie {
    width: 40vw;
    right: 30vw;
  }
  main section.backDesign div.text {
    width: 50vw;
    right: 30vw;
    top: 70vh;
  }
  main section.backDesign div.backBlock {
    width: 40vw;
    right: 20vw;
    top: 80vh;
  }
  footer ul li a img {
    width: 8vw;
  }
}
/*# sourceMappingURL=style.css.map */