* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

img.orangeBack {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -10;
}

nav {
  width: 100%;
  padding: 0 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav div.mobileNav {
  display: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  padding: 1rem;
  font-size: 1.25rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav ul li a.active {
  color: #F19C6D;
}

nav ul li a:hover {
  color: #F19C6D;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 12vw);
}

main section.mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section.mobile img.selfie {
  border-radius: 50%;
  margin: 3rem 4rem 1rem 4rem;
  width: 20vw;
}

main section.mobile h1 {
  color: #F19C6D;
  font-size: 3rem;
  padding: 1rem 4rem;
}

main section.selfIntro {
  padding: 0 2rem;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 500px;
          flex: 2 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.selfIntro section {
  padding: 1rem 2rem;
}

main section.selfIntro section h1 {
  color: #F19C6D;
  font-size: 3rem;
  padding: 1rem 0;
}

main section.selfIntro section p {
  font-size: 1.25rem;
  padding: 1rem 0;
}

main section.backDesign {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.backDesign img.selfie {
  margin-left: 10vw;
  width: 15vw;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
  right: 15vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer {
  padding: 0 1.5rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  list-style-type: none;
}

footer ul li {
  padding: 1rem;
}

footer ul li a img {
  width: 4vw;
}

@media screen and (max-width: 1000px) {
  img.orangeBack {
    width: 50vw;
    opacity: 60%;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100vh - 15vw);
  }
  main section.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main section.selfIntro h1 {
    display: none;
  }
  main section.backDesign {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  img.orangeBack {
    opacity: 30%;
  }
  nav {
    padding: 0;
    position: fixed;
    top: 0;
  }
  nav div.mobileNav {
    display: block;
  }
  nav ul {
    display: none;
    width: 100%;
    background-color: white;
  }
  nav ul li {
    width: 100%;
  }
  main {
    height: auto;
  }
  main section.mobile {
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.mobile img.selfie {
    width: 40vw;
  }
  main section.mobile h1 {
    text-align: center;
  }
  main section.selfIntro h1 {
    position: absolute;
    top: 50vh;
    left: 10vw;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  footer ul li a img {
    width: 8vw;
  }
}
/*# sourceMappingURL=style.css.map */