$basicColor: #F19C6D;

@mixin input {
    background-color: $basicColor;
    opacity: 60%;
    width: 60%;
    border: none;
}

main{
    justify-content: flex-start;
    flex-wrap: wrap;
    section.form{
        flex: 1 1 350px;
        display: flex;
        justify-content: center;
        form{
            width: 90%;
            display: flex;
            padding: 3rem;
            flex-direction: column;
            justify-content: center;
            div{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 1.5rem;
                label{
                    color: $basicColor;
                    font-weight: bold;
                    font-size: 1.25rem;
                }
                input{
                    @include input();
                    height: 100%;
                }
                textarea{
                    @include input();
                    vertical-align: top;
                }
            }
            input.btn{
                margin: 0 auto;
                width: 50%;
                padding: 1rem;
                background-color: $basicColor;
                border: none;
                border-radius: 10px;
                font-size: 1.5rem;
                color: white;
                cursor: pointer;
                transition: all 0.25s ease-in;
                &:hover{
                    background-color: white;
                    color: $basicColor;
                }
            }
        }
    }
    section.contact{
        padding: 2rem;
        flex: 1 1 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 2px solid black;
        h3{
            padding: 1rem;
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 1000px) {
    main{
        flex-direction: row;
    }
}
@media screen and (max-width: 700px) {
    main{ 
        section.form{
            width: 100%;
            height: 100vh;
            form{
                width: 90%;
            }
        }
        section.contact{
            border-left: none;
        }
    }
}