* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
$basicColor: #F19C6D;

html, body{
    position: relative;
}
h1, h2, h3, h4, h5{
    font-weight: normal;
}
// orange background
img.orangeBack{
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
}
// navbar
nav{
    width: 100%;
    // display: flex;
    padding: 0 1.5rem;
    position: sticky;
    top:0;
    z-index: 50;
    div.mobileNav{
        display: none;
        padding: 0.5rem;
        font-size: 1.5rem;
        text-align: center;
        background-color: white;
        cursor: pointer;
        box-shadow: 0 8px 6px -6px rgba(29, 29, 29, 0.5);
    }
    ul{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        li{
            display: flex;
            justify-content: center;
            a{
                padding: 1rem;
                font-size: 1.25rem;
                color: black;
                font-weight: bold;
                text-decoration: none;
                transition: all 0.25s ease;
                &.active{
                    color: $basicColor;
                }
                &:hover{
                    color: $basicColor;
                }
            }
        }
    }
}
main{
    display: flex;
    height: calc(100vh - 12vw);
    section.mobile{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        img.selfie{
            border-radius: 50%;
            margin: 3rem 4rem 1rem 4rem;
            width: 20vw;
        }
        h1{
            color: $basicColor;
            font-size: 3rem;
            padding: 1rem 4rem;
        }
    }
    section.selfIntro{
        padding: 0 2rem;
        flex: 2 1 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        section{
            padding: 1rem 2rem;
            h1{
                color: $basicColor;
                font-size: 3rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.25rem;
                padding: 1rem 0;
            }
        }
    }
    section.backDesign{
        flex: 1 1 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img.selfie{
            margin-left: 10vw;
            width: 15vw;
            border-radius: 50%;
            position: absolute;
            top: 50vh;
            right: 15vw;
            transform: translateY(-50%);
        }
    }
}
footer{
    padding: 0 1.5rem;
    ul{
        display: flex;
        margin-bottom: 0;
        list-style-type: none;
        li{
            padding: 0.5rem 1rem;
            a{
                img{
                    width: 4vw;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    img.orangeBack{
        width: 50vw;
        opacity: 60%;
    }
    nav{
        background-color: white;
    }
    main{
        flex-direction: column;
        height: auto;
        section.mobile{
            display: flex;
            height: 100vh;
        }
        section.selfIntro{
            h1{
                display: none;
            }
        }
        section.backDesign{
            display: none;
        }
    }

}

@media screen and (max-width: 700px) {
    img.orangeBack{
        opacity: 30%;
    }
    nav{
        padding: 0;
        position: fixed;
        top: 0;
        div.mobileNav{
            display: block;
        }
        ul{
            display: none;
            width: 100%;
            background-color: white;
            box-shadow: 0 8px 6px -6px rgba(29, 29, 29, 0.5);
            li{
                width: 100%;
            }
        }
    }
    main{
        height: auto;
        section.mobile{
            align-items: center;
            img.selfie{
                width: 40vw;
            };
            h1{
                text-align: center;
            }
        }
        section.selfIntro{
            h1{
                position: absolute;
                top: 50vh;
                left:10vw;
                transform: translateY(-50%);
            }
        }
    }
    footer ul li a img{
        width: 8vw;
    }
}