* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
$basicColor: #F19C6D;

html, body{
    height: 100%;
    position: relative;
}
h1, h2, h3, h4, h5{
    font-weight: normal;
}
// orange background
img.orangeBack{
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -10;
}
// navbar
nav{
    display: flex;
    width: 100%;
    padding: 0 1.5rem;
    ul{
        width: 70%;
        display: flex;
        align-items: center;
        list-style-type: none;
        li{
            display: flex;
            a{
                padding: 1rem;
                font-size: 1.25rem;
                color: black;
                font-weight: bold;
                text-decoration: none;
                &.active{
                    color: $basicColor;
                }
            }
        }
    }
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    section.selfIntro{
        padding: 0 2rem;
        flex: 3 1 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        section{
            padding: 1rem 2rem;
            h1{
                color: $basicColor;
                font-size: 3rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.25rem;
                padding: 1rem 0;
            }
        }
    }
    section.backDesign{
        flex: 1 1 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        img.selfie{
            margin-left: 10vw;
            width: 15vw;
            border-radius: 50%;
            position: absolute;
            bottom: 60vh;
            right: 15vw;
            transform: translateY(50%);
        }
        div.text{
            width: 70%;
            padding: 1rem;
            background-color: aqua;
            position: absolute;
            bottom: 30vh;
            right: 10vw;
            z-index: 100;
        }
        div.backBlock{
            width: 60%;
            height: 3rem;
            background: #1E9BA3;
            position: absolute;
            bottom: 25vh;
            right: 7vw;
        }
    }
}
footer{
    padding: 0 1.5rem;
    ul{
        display: flex;
        margin-bottom: 0;
        list-style-type: none;
        li{
            padding: 1rem;
            a{
                img{
                    width: 4vw;
                }
            }
        }
    }
}
