* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
$basicColor: #F19C6D;

html, body{
    height: 100%;
}
h1, h2, h3, h4, h5{
    font-weight: normal;
}
// navbar
// nav{
//     display: flex;
//     ul{
//         display: flex;
//         align-items: center;
//         list-style-type: none;
//         li{
//             display: flex;
//             a{
//                 padding: 1rem;
//                 font-size: 1.25rem;
//                 color: black;
//                 font-weight: bold;
//                 text-decoration: none;
//                 &.active{
//                     color: $basicColor;
//                 }
//             }
//         }
//     }
// }
main{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    section.selfIntro{
        height: 100vh;
        padding: 0 2rem;
        flex: 3 1 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // navbar
        nav{
            display: flex;
            ul{
                display: flex;
                align-items: center;
                list-style-type: none;
                li{
                    display: flex;
                    a{
                        padding: 1rem;
                        font-size: 1.25rem;
                        color: black;
                        font-weight: bold;
                        text-decoration: none;
                        &.active{
                            color: $basicColor;
                        }
                    }
                }
            }
        }
        section{
            padding: 1rem 2rem;
            h1{
                color: $basicColor;
                font-size: 3rem;
                padding: 2rem 0;
            }
        }
        footer{
            ul{
                display: flex;
                margin-bottom: 0;
                list-style-type: none;
                li{
                    padding: 1rem;
                    a{
                        img{
                            width: 5vw;
                        }
                    }
                }
            }
        }
    }
    section.backDesign{
        flex: 1 1 500px;
        display: flex;
        height: 105vh;
        margin-top: -5vh;
        flex-direction: column;
        justify-content: center;
        // background
        background-image: url('../ICONS/OrangeBackground.svg');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        
        position: relative;
        img.selfie{
            margin-left: 10vw;
            width: 20vw;
            border-radius: 50%;
        }
        div.text{
            width: 70%;
            padding: 1rem;
            background-color: aqua;
            position: absolute;
            bottom: 20vh;
            right: 10vw;
            z-index: 100;
        }
        div.backBlock{
            width: 60%;
            height: 3rem;
            background: #1E9BA3;
            position: absolute;
            bottom: 15vh;
            right: 7vw;
        }
    }
}

@media screen and (max-width: 1000px) {
    main{
        section.selfIntro{
            nav{
                position: fixed;
                top: 0;
                width: 100%;
                background-color: white;
                z-index: 100;
            }
        }
    }

}